<form method="post" action="/translate">
  <div class="large-12 columns">
    <label for="text">Please input a word you'd like translated to Pig Latin</label>
    <input type="text" id="text" name="text"/>
  </div>
</form>
