<form method="post" action="/result">
  <div class="large-12 columns">
    <label for="word">Please input a word you'd like translated to Pig Latin</label>
    <input type="text" id="word" name="word"/>
  </div>
</form>
