<!DOCTYPE html>
<html>
<head>
  <title>Say</title>
</head>
<body>
    <form method="post" action="/said">
    <div>
      <label for="talk">Say what:</label>
      <input type="text" id="talk" name="talk" />
      <label for="name">To Whom:</label>
      <input type="text" id="name" name="name" />
    </div>
    
    <div>
      <input type="submit" value="Submit Info">
    </div>
  </form>
</body>
</html>